@use "./colors.scss" as c;
@use "./text.scss" as t;

.container {
  background-color: c.$color-bg;
}

.text-center {
  text-align: center;
  color: c.$color-blue-1;
  font-family: t.$font-title;
}


ul {
  display: flex;
  justify-content: center;

  li {
    list-style-type: none;

    .image {
      background-repeat: no-repeat;
      width: 250px;
      height: 250px;
      margin: 1rem;
    }
  }
}

img {
  max-width: 100%;
  max-height: 100%;
}